{include file="master/header"}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Register
		</div>
		<div class="panel-body">
			{:libsStatic('Form' , 'openForm("public/register" , 'post')')}
				<div class="form-group">
					<label for="" class="label-control">User</label>
					{:libsStatic('Form' , 'inputText('username' , '' , array('placeholder' => 'Enter Username' , 'class' => 'form-control'))')}
				</div>
				<div class="form-group">
					<label for="" class="label-control">Pass</label>
					{:libsStatic('Form' , 'inputPass('password' , '' , array('placeholder' => 'Enter Password' , 'class' => 'form-control'))')}
				</div>
				<div class="form-group">
					{:libsStatic('Form' , 'button('button' , '' , 'Register' , array('class' => 'btn btn-primary'))')}
					&nbsp;<a href="/public/login">to Login</a>
				</div>
			{:libsStatic('Form' , 'closeForm()')}
		</div>
	</div>
</div>
{include file="master/bottom"}